fastapi
uvicorn
openai
pypdf
langchain
langchain-openai
langchain-chroma
langchain-community
langchain-core
langchain-text-splitters

pandas
scikit-learn
google-genai
python-dotenv
yfinance
tabulate
pydantic
