fastapi==0.104.1
uvicorn==0.23.2
pandas
scikit-learn
google-genai
python-dotenv
yfinance
tabulate
pydantic
pypdf

openai>=1.40.0,<2.0.0

langchain==0.3.0
langchain-openai==0.2.0

chromadb==0.5.5
langchain-chroma==0.1.2
